@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700;800;900&family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand", sans-serif;
    font-size: 1.8em;

   
}
h2 {
    font-weight: 900;
    font-size: 2.25em;
    color: #d9a86c;
    text-align: center;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 2.5px 2.3px 0 black; /* Crea el borde negro */
}
a {
    text-decoration: none;
    font-weight: 500;
    color: #2f2f2f;
}
    a:hover {
        text-decoration: none;
        color: #2f2f2f
    }
label {
    font-weight: 600;
   
}
a p {
    font-weight: 500;
    color: #2f2f2f;
}
p{
    font-weight:500;
}
.contBoton {
    text-align: center;
}
button {
    margin-top: 18px; 
    padding: 13px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    font-weight: bold;
    border-radius: 30px;
    margin-left: auto;
}
.botonForm {
    background-color: #d9a86c;
}
.boton {
    margin-top: 18px;
    padding: 12px;
    border-radius: 30px;
    font-size: 0.9em;
    font-weight: bold;
    background-color: #4f7768;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border: 0.5px solid #545454;
    text-shadow: 1px 1px 3px white;
}

    .boton:hover, button:hover {
        background-color: bisque;
    }
.botonSec {
    border-radius: 10px;
    border: 0.3px solid #545454;
    margin-top: 0px;
    font-size: 0.85em;
    padding: 4px;
    font-weight: 500;
}

input {
    margin-bottom:10px;
    width: 900px;
    border-radius: 20px;
    border: 1px solid black;
    box-sizing: border-box;
}

select {
    width: 900px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid black;
    box-sizing: border-box;
}
.imagenFondo {
    margin-top: 0;
    margin-left: 48px;
    width: 68%;
    border-radius: 10px;
    object-fit: cover;
}
.bodyForm {
    background-color: rgba(120, 168, 144, 0.92);
}
/*Para los index de usuarios*/
.opciones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 100%; /* Aprovecha más el espacio de la pantalla */
    overflow: hidden; /* evita que el agrandamiento cree scroll */
    margin-top: 20px;
    padding: 25px;
}

.opcion {
    width: 200px;
    background-color: #78a890;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease; /* Suaviza la animación */
    cursor: pointer;
   
}
.opcion2 {
    background-color: #d9a86c;
}

.opcion:hover {
    transform: scale(1.09); /* Agranda un poco al hacer hover */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.55); /* Sombra para dar efecto de elevación */   
}

.opcion img {
    width: 100%;
    border-radius: 25px;
    margin-bottom: 20px;
}

.opcion .imgServ {
    width: 84%;
    height: 63%;
}

.opcion p {
    background-color: white;
    padding: 10px;
    font-weight: 500;
    border-radius: 10px;
    margin-top: -10px;
}
    .opcion p:hover {
        transform: scale(1.06); /* Agranda un poco*/
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
       
    }
    .opcion p:active {
        font-weight: 600;
        background-color: #e6e6e6;
    }
.opcion .links{
    text-decoration:none;
}
table {
    width: 90%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 2px;
}
thead {
    background-color: #78a890;
    color: white;
    text-shadow: -1.5px -1.5px 0 gray;
    border-radius: 12px;
    
}
th {
    border: 0.3px solid #545454;
}
td {
    background-color: #9fb2a9;
    
}
th, td {
    padding: 10px;
    
}
