
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700;800;900&family=Quicksand:wght@300..700&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    -webkit-print-color-adjust: exact;
}

.contenedor {
    background: transparent; /* para que no tape el fondo del body */   

    padding: 20px;
    border-radius: 10px;
}

.encabezado {
    background-color: #8DA99C;
    text-align: center;
    padding: 15px;
    border-radius: 10px 10px 0 0;
   
}

    .encabezado img {
        width: 190px;
        vertical-align: middle;
        margin-right: -40px;

    }

    .encabezado h1 {
        display: inline;
        font-size: 3em;
        font-weight: 900;
        vertical-align: middle;
        color: #d9a86c;
        text-align: center;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 2.5px 2.3px 0 black; /* Crea el borde negro */
    }

.titulo {
    color: #2f3233;
    font-size: 1.9em;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    text-shadow: 2px 2px #948e8e;
}

table {
    page-break-inside: auto;
    width: 100%;
    margin: 0 auto 30px auto;
    border-collapse: collapse;
}

tr {
    page-break-inside: avoid;
    page-break-after: auto;
}
th, td {
    border: 1px solid #555;
    padding: 10px;
    text-align: center;
    font-size:1.4em;
    background-color: #B5C7BA;
}

th {
    background-color: #699D7C;
    color: white;
}
.texto{
    font-size:1.3em;
    text-align:center;
}