
@{
    ViewBag.Title = "Iniciar Sesión";
}
<link rel="stylesheet" href="@Url.Content("~/Estilos/estilos.css")">

    <div class="contenedor">
        <div class="cont">
            <h2 class="titulo">Iniciar Sesión</h2>
            <form action="@Url.Action("Login", "General")" method="post">
                <label for="numeroIdentidad">Número de Identidad:</label><br />
                <input type="text" id="numeroIdentidad" name="num_ident" required pattern="\d+" title="Solo se permiten números"/><br />

                <label for="contraseña">Contraseña:</label><br />
                <input type="password" id="contraseña" name="contras_usu" required /><br />
                <div class="contBoton">
                <button type="submit" class="botonForm">Ingresar</button>
                </div>
            </form>
        </div>
        <img class="imagenFondo" src="~/Imagenes/login.jpg" alt="">
    </div>

<style>
    body {
        background-image: url('/Imagenes/fondo_login.png');
        background-size: cover; /* para cubrir toda la pantalla */
        background-repeat: no-repeat;
        background-attachment: fixed; /* para que no se mueva al hacer scroll */
        background-position: center;
    }
    .titulo {
        margin-top: 0px;
        margin-bottom: 50px;
        font-size: 2.1em;
    }
    label{
        font-size:1.1em;
        font-weight:700;
    }
    .contenedor {
        padding:0;
        display: flex;  
        align-items: center; /* Alinea verticalmente */
        justify-content: center; /* centra horizontalmente */
        gap: 110px; /* Espacia entre el formulario y la imagen */
        margin: auto;
    }
    .cont {
        height:430px;
        width: 700px;
        margin-top: 0;
        margin-left: 150px;
        flex-direction: column; /* Elementos en columna */
    }
    
    
   
    
</style>